mixin main
    .main
        .container.container--lg
            .row
                .col-12
                    .main__content
                        header
                            p CSS Weather Forecast <i class="wi wi-sunrise"></i>
                        ul.cities
                            li Lisbon 
                                p <span>21&deg;C</span> <i class="wi wi-day-sunny"></i>
                            li Paris 
                                p <span>11&deg;C</span> <i class="wi wi-night-sleet"></i>
                            li Belgrade 
                                p <span>15&deg;C</span> <i class="wi wi-day-cloudy"></i>
                            li Moscow 
                                p <span>21&deg;C</span> <i class="wi wi-day-cloudy-high"></i>
                            li Tel Aviv 
                                p <span>32&deg;C</span> <i class="wi wi-hot"></i>
                            li Cair 
                                p <span>21&deg;C</span> <i class="wi wi-day-sunny"></i>
                            li New York 
                                p <span>17&deg;C</span> <i class="wi wi-day-sleet-storm"></i>
                            li New Delhi 
                                p <span>17&deg;C</span> <i class="wi wi-rain-wind"></i>
                            li San Francisco 
                                p <span>5&deg;C</span> <i class="wi wi-day-sunny-overcast"></i>
                            li Tokyo 
                                p <span>8&deg;C</span> <i class="wi wi-night-partly-cloudy"></i>
                            li Sydney 
                                p <span>25&deg;C</span> <i class="wi wi-night-clear"></i>
                        footer
                            p Have a nice day and don't forget umbrella if you are in New Delhi now!
